<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Zoho_Desk_AD_Sync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Zoho_Desk_AD_Sync.Properties.Settings>
            <setting name="ZohoAPIAuthURL" serializeAs="String">
                <value>https://accounts.zoho.com/oauth/v2/auth</value>
            </setting>
            <setting name="ZohoAPIURL" serializeAs="String">
                <value>https://desk.zoho.com/api/v1/</value>
            </setting>
            <setting name="ADDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="ADBaseOU" serializeAs="String">
                <value />
            </setting>
            <setting name="ZohoClientID" serializeAs="String">
                <value />
            </setting>
            <setting name="ZohoClientSecret" serializeAs="String">
                <value />
            </setting>
        </Zoho_Desk_AD_Sync.Properties.Settings>
    </applicationSettings>
</configuration>